<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Home</title>
</head>
<body>
    <h2>Bienvenidos a la pagina de Djamgo</h2>
    <p style = "color:red" > {{nombre}}</p>
    <p style = "color : blue" > {{apellido}}</p>
    <p style = "color : green" > {{dni}}</p>
    <h3><br><p style = "color : orange">{{fecha}}</p></h3>
    {% for nota in notas%}
       {%if nota > 5%}
          <h4>Aprobado con {{nota}}</h4>

        {%else%}
        <h4>No aprobado con {{nota}}</h4>
        {%endif%}
    {% endfor %}

</body>
</html>
